@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Pallete {
    BG: #191A19,
        {rgba(109, 152, 134, .20)}
    Text: #F7F7F7;,
    Accent: #6D9886;,
    LightAccent: #F2E7D5,
} */

body {
    background-color: #393e46;
    color: #f7f7f7;
    font-family: 'Roboto Mono', monospace;
}
